{% extends "base.html" %}

{% block title %}
<title>人在北理-树洞</title>
{% end %}

{% block navbar %}
<li><a href="/">首页</a></li>
<li><a href="/book">图书</a></li>
<li class="active"><a href="">树洞</a></li>
<li><a href="/about">关于</a></li>
{% end %}

{% block content %}
<style type="text/css">
time {color: #777777}
</style>

<div class="span10 offset3">
    <h3>「人在北理」树洞 </h3>
    <br>
      <form action="" method="POST">
      <div>
          <textarea name="content" rows="5" class="input-xxlarge" placeholder="向树洞说出你想说的一切吧">{% if content %} {{ content }} {% end %}</textarea>
      </div>
      {% if messages %}
      {% for msg in messages %}
      <div class="alert alert-{{ msg }}">
          {{ msg }}
      </div>
      {% end %}
      {% end %}
      <div>
          <input type="submit" class="btn btn-large btn-primary">
          <input type="reset" text="清空" class="btn btn-large btn-danger">
       </div>
       <br>
       </form>
       {% for text in text_list%}
       <div class="span6">
           <hr>
           <p>{{ text.content }}</p>
           <time><small>{{ text.time }}</small></time>
       </div>
       {% end %}
</div>

{% end %}
